# Cohort Assignment

### Write a spark program(python or scala or any other language) to achieve the following:

#### 1. Calculate hourly, daily, weekly and monthly averages of aggregated counts of each customer and make this accessible for querying purposes
 							
#### 2. Calculate Week-on-week cohorts for customers taking rides in that week, an example cohort output is shown as follows.

## We can get Dataset from the given link

##### https://drive.google.com/file/d/1gGDJpGrKTFdy-IKOXxRv5QNuTlJHmp1f/view?usp=sharing

In [ ]:
#!/usr/bin/env bash
!unzip DE_Cohorts_Assignment_Data.csv.zip
!pwd

## Import all relevant packages

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, split, window,substring, col
from pyspark.sql.functions import *

## Create a Spark Session

In [ ]:
spark = SparkSession.builder.appName("Cohort Assignment").master("local[*]").getOrCreate()

## Read data from the csv file

In [39]:
df = spark.read.format("csv").options(header='true', inferschema='true', delimiter=',').load("/home/rita/Documents/Spark/Assignments/DE_Cohorts_Assignment_Data.csv")

root
 |-- timestamp: string (nullable = true)
 |-- user_id: string (nullable = true)

In [40]:
df.show()

+-------------------+-------+
|          timestamp|user_id|
+-------------------+-------+
|2018-04-07 07:07:17|  14626|
|2018-04-07 07:32:27|  85490|
|2018-04-07 07:36:44|  05408|
|2018-04-07 07:38:00|  58940|
|2018-04-07 07:39:29|  05408|
|2018-04-07 07:43:08|  05408|
|2018-04-07 07:43:55|  50266|
|2018-04-07 07:52:31|  58940|
|2018-04-07 07:52:42|  58940|
|2018-04-07 07:53:23|  28126|
|2018-04-07 07:55:05|  99251|
|2018-04-07 07:55:24|  99251|
|2018-04-07 08:00:04|  34808|
|2018-04-07 08:00:16|  34808|
|2018-04-07 08:03:16|  89714|
|2018-04-07 08:03:24|  89714|
|2018-04-07 08:07:16|  82060|
|2018-04-07 08:08:57|  18815|
|2018-04-07 08:11:35|  38288|
|2018-04-07 08:17:24|  80401|
+-------------------+-------+
only showing top 20 rows

In [71]:
print((df.count(), len(df.columns)))

(8381556, 2)

In [50]:
df_1 = df.select(substring('timestamp',1,10).alias('date'),'user_id')
df_1.show()

+----------+-------+
|      date|user_id|
+----------+-------+
|2018-04-07|  14626|
|2018-04-07|  85490|
|2018-04-07|  05408|
|2018-04-07|  58940|
|2018-04-07|  05408|
|2018-04-07|  05408|
|2018-04-07|  50266|
|2018-04-07|  58940|
|2018-04-07|  58940|
|2018-04-07|  28126|
|2018-04-07|  99251|
|2018-04-07|  99251|
|2018-04-07|  34808|
|2018-04-07|  34808|
|2018-04-07|  89714|
|2018-04-07|  89714|
|2018-04-07|  82060|
|2018-04-07|  18815|
|2018-04-07|  38288|
|2018-04-07|  80401|
+----------+-------+
only showing top 20 rows

In [64]:
min_max_date = df_1.select(min(col('date')),max(col('date')))
min_max_date.show()

+----------+----------+
| min(date)| max(date)|
+----------+----------+
|2018-04-07|2019-04-07|
+----------+----------+

In [53]:
users_per_date = df_1.groupby('date').count().orderBy('date')

In [54]:
users_per_date.show()

+----------+-----+
|      date|count|
+----------+-----+
|2018-04-07| 9375|
|2018-04-08| 5716|
|2018-04-09|11552|
|2018-04-10|11186|
|2018-04-11|12129|
|2018-04-12|10359|
|2018-04-13|13469|
|2018-04-14| 6588|
|2018-04-15| 4193|
|2018-04-16|10540|
|2018-04-17| 9455|
|2018-04-18| 9646|
|2018-04-19|12267|
|2018-04-20|10062|
|2018-04-21| 6916|
|2018-04-22| 3225|
|2018-04-23| 9049|
|2018-04-24| 8211|
|2018-04-25| 9159|
|2018-04-26| 9014|
+----------+-----+
only showing top 20 rows